*
!.gitignore

!dynmap
!dynmap/templates
!dynmap/templates/normal*.txt
!dynmap/configuration.txt
!dynmap/fabricworlds.yml
!dynmap/markers.yml
!dynmap/version.txt
!dynmap/worlds.txt

!ops.json
!whitelist.json
